# clojurescript
*.log
out/
main.js
.cljs_rhino_repl
.lein-repl-history
target/
.nrepl-port
.cljs_nashorn_repl/
.cljs_node_repl/
.repl/
nashorn_code_cache/

# haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/

# yesod
client_session_key.aes

# local config
.wheelrc
web.cfg
